body{

}
.App {
  text-align: center;
  
}
.borde{
  border: 2px black solid;
  margin-left: 35%;
  margin-right: 35%;
 }
.espacio{
  display: flex;
  justify-content: space-between;
  margin-left: 32%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.scroll{
  height: 600px;
  overflow-y: scroll;

}
 
.borde1{
  width: auto;
  height: 2px;
  background-color: black;

 }
.espacio1{
  display: flex;
  justify-content: space-between;
  margin-left: 35%;

}
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li{
  list-style: none;
}
.usuario{
  border: 2px black solid;
  margin-left: 35%;
  margin-right: 35%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: black;
  color: white;
}
.cerrar{
  color: rgb(255, 127, 127);
  line-height: 150%;
  font: message-box;
}
.mensaje{
  font-weight: bold;
  text-align: center;
}
